services:
  postgres:
    image: postgres:16
    container_name: postgres-store
    environment:
      POSTGRES_USER: utland
      POSTGRES_PASSWORD: password
      POSTGRES_DB: store
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U utland -d store"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - network

  pgadmin:
    container_name: pgadmin-store
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "sizonenkoilya0@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "password"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    networks:
      - network

volumes:
  postgres_data:
  pgadmin-data:

networks:
  network:
    driver: bridge